<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
	Adapted to Hugo by Furniture Corporation under CCA 3.0 license
-->
<html>
	<head>
		<title>{{ .Title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
		<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">
			<header id="header">
				<h1 id="logo"><a href="index.html">{{ .Title }}</a></h1>
				<nav id="nav">
					<ul>
						{{ range .Data.Pages.ByDate.Reverse }}
						<li><a class="scrolly" href="#{{ .Slug }}">{{ .Title }}</a></li>
						{{ end }}
					</ul>
				</nav>
			</header>

			<section id="banner">
				<div class="content">
					<header>
						<h2>{{ .Title }}</h2>
						<p>{{ $.Param "Description" }}</p>
					</header>
					<span class="image"><img src="images/logo.svg" alt="" /></span>
				</div>
				{{ if $.Param "goto" }}
				<a href="#{{ $.Param "goto" }}" class="goto-next scrolly">Next</a>
				{{ end }}
			</section>

			<!-- Games -->
			{{ range .Pages.ByDate.Reverse }}
			<section id="{{ .Slug }}" class="spotlight style1 bottom">
					<span class="image fit main"><img src="{{ .Params.image }}" alt="" /></span>
					<div class="content">
						<div class="container">
								<header>
									<a href="https://gitlab.com/f-corp/{{ .Slug }}"><h2>{{ .Title }} &nbsp; </a></h2>
									<p>{{ .Description }} </p>
								</header>
								{{ .Content }}
								<footer>
									<a class="gitlab-link" href="https://gitlab.com/f-corp/{{ .Slug }}"><img class="svg" src="/img/gitlab.svg"/></a>
									{{ if .Params.linux }}
									<a class="gitlab-link" href="{{ .Params.linux }}"><img class="svg" src="/img/linux.svg"/></a>
									{{ end }}
									{{ if .Params.windows }}
									<a class="gitlab-link" href="{{ .Params.windows }}"><img class="svg" src="/img/windows.svg"/></a>
									{{ end }}
									{{ if .Params.macos}}
									<a class="gitlab-link" href="{{ .Params.macos}}"><img class="svg" src="/img/macos.svg"/></a>
									{{ end }}
									{{ if .Params.web}}
									<a class="gitlab-link" href="{{ .Params.web }}"><img class="svg" src="/img/web.svg"/></a>
									{{ end }}
								</footer>
							</div>
						</div>
					{{ if .Params.next }}
					<a href="#{{ .Params.next }}" class="goto-next scrolly">Next</a>
					{{ end }}
				</section>
				{{ end }}
				<!-- Games END -->

				<footer id="footer">
					<ul class="copyright">
						<li><a href="https://gitlab.com/f-corp">&copy; {{ .Title }}.</a> All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>
			</div>
			<!-- wrapper END -->

			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/jquery.dropotron.min.js"></script>
			<script src="js/jquery.scrollex.min.js"></script>
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>
	</body>
</html>
